name: Nuget Release

on:
  release:
    types: [created, edited]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10
      - name: Build/Check for compile errors (dotnet build)
        run: dotnet build --configuration Release
      - name: Run Unit Tests (dotnet test) # never ever release with failing tests!
        run: dotnet test --configuration Release
  push_release:
    needs: run_tests
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
    # This job is based on the Trusted Publishing Setup.
    # See https://learn.microsoft.com/en-us/nuget/nuget-org/trusted-publishing for details.
    permissions:
      id-token: write # enable GitHub OIDC token issuance for this job
    environment: "release" # has to match the policy name in the nuget.org Trusted Publishing setup.
    # if the environment name is not set here, you'll run into an error message like "Error: Token exchange failed (401): Environment mismatch for policy 'release': expected 'release', actual ''"
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10
      - uses: olegtarasov/get-tag@v2.1
        id: tagTBC
        with:
          tagRegex: "v(\\d+\\.\\d+\\.\\d+)"
      - name: Build/Check for compile errors (dotnet build)
        run: dotnet build --configuration Release
      - name: Create Package EDILibrary (dotnet pack)
        working-directory: "EDILibrary"
        run: dotnet pack EDILibrary.csproj --configuration Release -p:PackageVersion="${{ steps.tagTBC.outputs.tag }}"
      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: login
        with:
          user: Hochfrequenz
          # because the package is owned by Hochfrequenz: https://www.nuget.org/packages/EDILibrary.Core
      - name: Nuget push EDILibrary
        working-directory: "EDILibrary"
        run: |
          dotnet nuget push ./bin/Release/*.nupkg --source https://api.nuget.org/v3/index.json  --api-key ${{steps.login.outputs.NUGET_API_KEY}} --skip-duplicate
      - name: Create Package EDILibrary.Standard (dotnet pack)
        working-directory: "EDILibraryBase"
        run: dotnet pack EDILibrary.Standard.csproj --configuration Release -p:PackageVersion="${{ steps.tagTBC.outputs.tag }}"
      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: loginBase
        with:
          user: Hochfrequenz
      - name: Nuget push EDILibrary.Standard
        working-directory: "EDILibraryBase"
        run: |
          dotnet nuget push ./bin/Release/*.nupkg --source https://api.nuget.org/v3/index.json  --api-key ${{steps.loginBase.outputs.NUGET_API_KEY}} --skip-duplicate
      - name: Create Package EDIFileLoader.Core (dotnet pack)
        working-directory: "EDIFileLoader"
        run: dotnet pack EDIFileLoader.csproj --configuration Release -p:PackageVersion="${{ steps.tagTBC.outputs.tag }}"
      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: loginStandard
        with:
          user: Hochfrequenz
      - name: Nuget push EDIFileLoader.Core
        working-directory: "EDIFileLoader"
        run: |
          dotnet nuget push ./bin/Release/*.nupkg --source https://api.nuget.org/v3/index.json  --api-key ${{steps.loginStandard.outputs.NUGET_API_KEY}} --skip-duplicate
      - name: Create Package EDIFileLoader.Standard (dotnet pack)
        working-directory: "EDIFileLoader.Standard"
        run: dotnet pack EDIFileLoader.Core.csproj --configuration Release -p:PackageVersion="${{ steps.tagTBC.outputs.tag }}"
      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: loginLoader
        with:
          user: Hochfrequenz
      - name: Nuget push EDIFileLoader.Standard
        working-directory: "EDIFileLoader.Standard"
        run: |
          dotnet nuget push ./bin/Release/*.nupkg --source https://api.nuget.org/v3/index.json  --api-key ${{steps.loginLoader.outputs.NUGET_API_KEY}} --skip-duplicate
